.feynman__link {
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  position: absolute;
  right: 48px;
  text-decoration: none;
  top: 50%;
  color: #2f80ed;
  opacity: 0.7;
  -webkit-transition: opacity .5s ease .2s;
  -o-transition: opacity .5s ease .2s;
  transition: opacity .5s ease .2s;
}

/* !!использовал свойство перехода для изменения прозрачности*/
/*?? Оставил подчеркивание при наведении, нужно уточнить как одновременно сделать два перехода по разным свойствам*/

.feynman__link:hover {
  text-decoration: underline;
  opacity: 1;
}