.header {
  width: 100%;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  z-index: 0;
}

@media screen and (max-width: 767px) {
  .header  {
    flex-direction: column;
  }
}