.header__link {
  text-decoration: none;
  color: #2f80ed;
  opacity: 0.7;
  -webkit-transition: opacity .5s ease .2s;
  -o-transition: opacity .5s ease .2s;
  transition: opacity .5s ease .2s
}

/* !! экспремент с псевдоклассом */
/* .header__link:visited { */
  /* opacity: 1; */
  /* text-decoration: underline; */
  /* color: #3937a7; */
/* } */

/* !!применил свойство перехода и пока оставли подчеркивание!! */
.header__link:hover {
  /* color: rgb(35, 80, 139); */
  text-decoration: underline;
  opacity: 1;
}

/* !!пробовал масштаб на тексте - не работает!!
?? подумать как изменить размер шрифта, но только так, чтобы не увеличивался размер строки 
?? и контент не плясал.
 */
/* .header__link:hover {
  transform: scale(1.3);
} */