.video__iframe {
  width: 515px;
  height: 316px;
  margin-right: 20px;
  border: 0px;
  -webkit-transition: -webkit-box-shadow 0.8s ease;
  transition: -webkit-box-shadow 0.8s ease;
  -o-transition: box-shadow 0.8s ease;
  transition: box-shadow 0.8s ease;
  transition: box-shadow 0.8s ease, -webkit-box-shadow 0.8s ease;
}

.video__iframe:nth-of-type(2n) {
  margin: 0px;
}

.video__iframe:hover {
  -webkit-box-shadow: 0 0 30px rgba(12, 12, 12, 0.856);
  box-shadow: 0 0 30px rgba(12, 12, 12, 0.856);
}