.header__main-illustration {
  max-width: 765px;
  min-width: 400px;
  width: 53%;
  max-height: 608px;
  height:auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  right: 0;
  bottom: 0;
}